.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   margin-bottom: 100px;
}

.new-collection hr{
    width:200px;
    height: 6px;
    border-radius: 10px;
}
.collection{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap:20px;
  margin-top: 50px;
}