.description-box{
    margin: 120px 170px;
}

.descriptionbox-navigator{
    display:flex;
    align-items: center;
}

.descriptionbox-nav-box{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px 30px;
    border: 1px solid #3e3e3e;
    font-size: 25px;
    font-weight: 600;
    width:171px;
    height:70px;
}

.descriptionbox-description{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:30px 50px;
    border: 1px solid #3e3e3e;
}

.escriptionbox-nav-box.fade{
    color:#555;
    background: #FBFBFB;

}
