.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 90vh;
}

.popular hr{
    width:200px;
    height: 6px;
    border-radius: 10px;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap:20px;
}

@media only screen and (max-width:600px){
     

   .popular{
    margin-bottom: 500px;
   }

    .popular-item{
        display:flex;
        flex-wrap: wrap;
        margin-top: 50px;
        align-items: center;
        gap:30px;
        margin-left: 100px;
    } 
}
